.terraform/
*.tfstate 
*.tfstate.*
.terraform.tfstate.lock.info

crash.log
crash.*.log


override.tf 
override.tf.json 
*_override.tf
*_override.tf.json

*.tfvars
*.tfars.json

.terraformrc
terraform.rc

infra/lambda/*/*.zip
infra/build/


__pycache__/
*.pyc
.venv/
.env

.DS_Store
.vscode/
.idea/
