#ignores some terraform state files and some secrets from commiting
.terraform/
*.tfstate 
*.tfstate.*
.terraform.tfstate.lock.info

#ignores logs from terraform crashes
crash.log
crash.*.log

#ignore some local overrides
override.tf 
override.tf.json 
*_override.tf
*_override.tf.json

#ignore var values
*.tfvars
*.tfvars.json

#ignore config details
.terraformrc
terraform.rc

#ignore zips that may be created 
infra/lambda/*/*.zip
infra/build/

#ignore tf plans
*.tfplan
*.plan

#python and env files
__pycache__/
*.pyc
.venv/
.env

#just the usual IDE ignores
.DS_Store
.vscode/
.idea/
